.bubble1 {
  animation: float 4s ease-in-out infinite 300ms;
}
.bubble2 {
  animation: float 4s ease-in-out infinite;
}
.bubble3 {
  animation: float 4s ease-in-out infinite 500ms;
}

.bubbleShadow {
  border-radius: 50%;
  animation: shadow 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes shadow {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.7);
  }
  100% {
    transform: scaleX(1);
  }
}
